$sky-blue: #1b7bc6;
$steel-blue: #04131f;
$sea-blue: #69b2ea;
$grizzly-brown: #502a1d;
$chocolate-brown: #854322;
$redish-brown: #c6331a;
$orange: #e3543b;
$almost-black: #010101;
$almost-white: #efefef;
$misty-grey: #b9b9b9;
$asphalt-grey: #2e2e2e;
