$sky-blue: #1b7bc6;
$purple: #9e1bc6;
$steel-blue: #04131f;
$navy-blue: #223e55;
$sea-blue: #69b2ea;
$flamingo: #ea69e8;
$grizzly-brown: #502a1d;
$chocolate-brown: #854322;
$chocolate-brown-light: #a7542a;
$redish-brown: #c6331a;
$orange: #e3543b;
$almost-black: #010101;
$almost-white: #efefef;
$misty-grey: #b9b9b9;
$asphalt-grey: #2e2e2e;
$bazalt-grey: #202020;
