$sky-blue: #1b7bc6;
$purple: #9e1bc6;
$steel-blue: #04131f;
$navy-blue: #223e55;
$sea-blue: #69b2ea;
$flamingo: #ea69e8;
$grizzly-brown: #502a1d;
$chocolate-brown: #854322;
$chocolate-brown-light: #a7542a;
$redish-brown: #c6331a;
$orange: #e3543b;
$almost-black: #010101;
$almost-white: #efefef;
$misty-grey: #b9b9b9;
$stone-grey: #545252;
$asphalt-grey: #2e2e2e;
$bazalt-grey: #202020;
$react-blue: #1b9eca;
$react-dark-blue: #232730;
$vue-green: #42b883;
$vue-dark-green: #35495e;
$php-purple: #4f5b93;
$php-white: #fff;
$javascript-yellow: #f0db4f;
$javascript-dark-grey: #323330;
$typescript-blue: #2d79c7;
$typescript-white: #fff;
$symfony-black: #1a171b;
$symfony-white: #fff;
$leafletjs-grey: #eee;
$leafletjs-green: #199900;
$nodejs-green: #5fa04e;
$nodejs-grey: #333;
