:root {
  --bd-size-gutter: #{$xs-gutter};

  @media screen and (min-width: #{$sm}) {
    --bd-size-gutter: #{$sm-gutter};
  }

  @media screen and (min-width: #{$md}) {
    --bd-size-gutter: #{$md-gutter};
  }

  @media screen and (min-width: #{$lg}) {
    --bd-size-gutter: #{$lg-gutter};
  }
}
