:root {
  --bd-size-gutter: #{$xs-gutter};

  @media screen and (min-width: #{$sm}) {
    --bd-size-gutter: #{$sm-gutter};
  }

  @media screen and (min-width: #{$md}) {
    --bd-size-gutter: #{$md-gutter};
  }

  @media screen and (min-width: #{$lg}) {
    --bd-size-gutter: #{$lg-gutter};
  }

  --bd-about-gradient: linear-gradient(45deg, #{$sea-blue}, #{$sky-blue});

  --bd-work-gradient: linear-gradient(
    45deg,
    #{$chocolate-brown},
    #{$grizzly-brown}
  );

  --bd-blog-gradient: linear-gradient(45deg, #{$misty-grey}, #{$almost-white});

  --bd-referrals-gradient: linear-gradient(45deg, #{$redish-brown}, #{$orange});
}
