body {
  margin: 0;
  padding: 0;
  background-color: var(--bd-theme-body-bg);
  color: var(--bd-theme-text-color);
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  font-size: 87.5%; // 14px
  font-family: $copy-font-stack;

  @media screen and (min-width: $md) {
    font-size: 100%; // 16px
  }
}

a {
  color: var(--bd-theme-link-color);
  text-decoration: none;

  &,
  &.no-visited:visited {
    color: var(--bd-theme-link-color);
  }

  &:visited {
    color: var(--bd-theme-link-visited-color);
  }
}
